<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projetodesenvolvimento"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />
     <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
     <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.projetodesenvolvimento.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.projetodesenvolvimento.Calendario"
            android:label="@string/title_activity_calendario" >
        </activity>
        <activity
            android:name="com.example.projetodesenvolvimento.MyCalendarActivity"
            android:label="@string/title_activity_calendario" >
        </activity>
        <activity
            android:name="com.example.projetodesenvolvimento.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.example.projetodesenvolvimento.SplashActivity"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.projetodesenvolvimento.CadastroMovimentoActivity"
            android:label="@string/title_activity_cadastro" >
        </activity>
        <activity
            android:name="com.example.projetodesenvolvimento.CadastroUsuarioActivity"
            android:label="@string/title_activity_cadastro_usuario" >
        </activity>
        <activity
            android:name="com.example.projetodesenvolvimento.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="com.example.projetodesenvolvimento.BackupSettingsActivity"
            android:label="@string/title_activity_backup_settings" >
        </activity>
        <activity
            android:name="com.example.projetodesenvolvimento.CalendarioActivity"
            android:label="@string/title_activity_calendario" >
        </activity>
        <activity
            android:name="com.example.projetodesenvolvimento.FinancasActivity"
            android:label="@string/title_activity_financas" >
        </activity>
    </application>

</manifest>
