<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.organizadorfinanceiro"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.organizadorfinanceiro.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.organizadorfinanceiro.Calendario"
            android:label="@string/title_activity_calendario" >
        </activity>
        <activity
            android:name="com.organizadorfinanceiro.MyCalendarActivity"
            android:label="@string/title_activity_calendario" >
        </activity>
        <activity
            android:name="com.organizadorfinanceiro.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.organizadorfinanceiro.SplashActivity"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.organizadorfinanceiro.CadastroMovimentoActivity"
            android:label="@string/title_activity_cadastro" >
        </activity>
        <activity
            android:name="com.organizadorfinanceiro.CadastroUsuarioActivity"
            android:label="@string/title_activity_cadastro_usuario" >
        </activity>
        <activity
            android:name="com.organizadorfinanceiro.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="com.organizadorfinanceiro.BackupSettingsActivity"
            android:label="@string/title_activity_backup_settings" >
        </activity>
        <activity
            android:name="com.organizadorfinanceiro.CalendarioActivity"
            android:label="@string/title_activity_calendario" >
        </activity>
        <activity
            android:name="com.organizadorfinanceiro.FinancasActivity"
            android:label="@string/title_activity_financas" >
        </activity>
        <activity
            android:name="com.organizadorfinanceiro.GraficoActivity"
            android:label="@string/title_activity_grafico"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.organizadorfinanceiro.GraficosActivity"
            android:label="@string/title_activity_graficos" >
        </activity>
        <activity
            android:name="com.organizadorfinanceiro.ListaMovimentoActivity"
            android:label="@string/title_activity_lista_movimento" >
        </activity>
        <activity
            android:name="com.organizadorfinanceiro.GestaoFontesMovimentoActivity"
            android:label="@string/title_activity_gestao_fontes_movimento" >
        </activity>
    </application>

</manifest>
